.glavni{
    width: 250px;
    position: relative;
    box-shadow: 2px 2px 10px black;
}

.img{
    width: 100%;
    filter: grayscale(100%);
}

.img:hover{
    filter: none;
    transition: 1s;
}

.text_info{
    padding: 20px;
    text-align: center;
}

.text{
    font-size: 20px;
}

.bosh-sahifa{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

.glavni:hover{
    z-index: 1;
    bottom: 50px;
}

.button{
    width: 100px;
    padding: 8px;
    margin: 8px 70px;
    border-radius: 5px;
    border: none;
    background: green;
    color: white;
}